<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home">Inicio</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card *ngFor="let encuesta of encuestas" >
      <div align="center">DATOS DE LA ENCUESTA</div>
      <ion-grid [routerLink]="['/crearencuesta', encuesta.id]">
       <ion-row>
         <ion-col size="6">
          <ion-item>
            <ion-label>{{ encuesta.titulo }}</ion-label>
          </ion-item>
         </ion-col>
         <ion-col size="5">
           <ion-item>
            <ion-label>{{ encuesta.fecha_inicio }}</ion-label>
           </ion-item>
         </ion-col>
         <ion-col size="1">
          <ion-button fill="clear" class="boton" [routerLink]="['/crearencuesta', encuesta.id]" > <ion-icon color="light" name="create"></ion-icon> </ion-button>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col size="6">
         <ion-item>
          <ion-label>{{ encuesta.descripcion }}</ion-label>
         </ion-item>
        </ion-col>
        <ion-col size="5">
         <ion-item>
          <ion-label>{{ encuesta.fecha_final }}</ion-label>
         </ion-item>
        </ion-col>
        <ion-col size="1">
          <ion-button color="danger" (click)="eliminar(encuesta.id)"><ion-icon name="trash" ></ion-icon> </ion-button>
        </ion-col>
      </ion-row>
     </ion-grid>
    </ion-card>
  </ion-card-content>
</ion-content>
