

<ion-content>
  <div id="container">
   <div><img src="../../assets/img/refosinu.png"> </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="/crearencuesta" >Nueva encuesta</ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/encuestas" >Ver encuestas</ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/resultado" >Resultados</ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/" >Configuracion</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
