#container {
  text-align: center;
  background-color: #444444;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 30px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-content{ --ion-background-color:#444444; }

ion-button{ --background:#ff7000;
            --padding-bottom: 1cm;
            --padding-top:1cm;
            --padding-start: 2cm;
            --padding-end: 2cm;
             font-style: bold;
          }
